.Menu-page {
  color: #3eb489;
  text-align: center;
}

.Menu-link {
  color: #3eb489;
}

.Menu-header {
  font-weight: 600;
  font-size: 100px;
  color: #3eb489;
  text-shadow: 0 0 0px #3eb489, 0 0 50px #3eb489;
}

#button {
  outline: 0;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #3eb489;
  border-radius: 12px;
  background: #3eb489;
  color: #000;
  font-weight: 600;
  transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out;
}
