#notepad-page {
  text-align: center;
  color: #3eb489;
}

#input-header {
  padding: 0;
  margin: 0;
}

#button {
  outline: 0;
  position: relative;
  display: inline-block;
  padding: 10px 50px;
  font-size: 20px;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #3eb489;
  border-radius: 12px;
  background: #3eb489;
  color: #000;
  font-weight: 600;
  transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

#button:hover {
  background-color: #3eb489;
  color: #000;
  box-shadow: 0 0 5px #3eb489, 0 0 20px rgb(62 180 137 / 0.8),
    0 0 35px rgb(62 180 137 / 0.7), 0 0 50px rgb(62 180 137 / 0.6);
  border-color: #3eb489;
}

#wrap {
  width: 100% auto;
  margin: 20px auto;
  padding: 5px;
  background: #3eb489;
  border: 1px solid #808080;
  border-radius: 15px;
}

#inputFileNameToSaveAs {
  background-color: #303030;
  margin-bottom: 10px;
  display: center;
  width: 10%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #3eb489;
  transition: 0.3s border-color;
  color: #3eb489;
}

#inputFileNameToSaveAs:hover {
  background-color: #3f3f3f;
  box-shadow: 0 0 5px #3eb489, 0 0 20px rgb(62 180 137 / 0.8),
    0 0 35px rgb(62 180 137 / 0.7), 0 0 50px rgb(62 180 137 / 0.6);
}

#inputFileNameToSaveAs:focus {
  outline: none !important;
  border: 1px solid #3eb489;
  box-shadow: 0 0 10px #3eb489;
}

#inputTextToSave {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  resize: vertical;
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0;
  padding: 4px;
  background: #303030;
  border: 1px solid #333;
  overflow-y: auto;
  overflow-x: hidden;
  color: #3eb489;
  border-radius: 15px;
}

#inputTextToSave:focus {
  outline: none !important;
  border: 1px solid #3eb489;
  box-shadow: 0 0 10px #3eb489;
}
